
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>HOME</title>
    <style>
        body {
            background-color: #dfe5ec;
        }

        .button {
            font-family: monospace;
            background-color: #1D1930;
            color: #E9BCB9;
            border: none;
            border-radius: 8px;
            width: 100px;
            height: 45px;
            transition: .3s;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 20px;
            
            
          }
          
          .button:hover {
            background-color: #67274A;
            box-shadow: 0 0 0 5px #883b65;
            color: #E9BCB9;
          }
      
          .buttons {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            padding-top: 10px;
            padding-bottom: 10px;
            margin-top: 50px;
      
          }
      
          .buttons a {
            display: inline-block;
            margin: 0 50px; 
          }
          .card{
            background-color: #ededed;
            border: 2px #1D1930;
            border-radius: 10px;

          }
          H4{
            text-align: center;
          }
          
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mt-3 mb-3"><%= title %></h1>

        <div class="card">
            <div class="card-header">
                    <h2>Information  </h2>
            </div>
            <div class="card-body">
                
                <H4>Hi , <%= name %>!</H4>
                <div class="buttons">
                    <a href="/complaint">
                      <button class="button">
                        Complaint
                      </button>
                    </a>
                    <a href="/history">
                      <button class="button">
                        History
                      </button>
                    </a>
                    <% if(role == 2) { %>
                    <a href="/solver">
                        <button class="button">
                          Solver
                        </button>
                      </a>
                      <% }; %>
                    <a href="/logout">
                      <button class="btn btn-danger">
                        Log Out
                      </button>
                    </a>
                  </div>  
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</div>
</body>
</html>

